# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=

# Firebase Admin
FIREBASE_PROJECT_ID=unill-20c41
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Google Picker API
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_APP_ID=
